{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>

<!-- meta tags -->
<meta charset="utf-8">
<meta name="keywords" content="IAAS, Insurance Advanced Advisory Services, Cabinet, accompagnement, assurance , Courtage, Senegal,cabinet assurance Courtage senegal , Financial Advisory Services, Audit Services, Assistance Technique Et Comptable, Tax And Legal Advisory Services,Digital Advisory Services, Human Capital Advisory Services, iaas senegal" />
<meta name="description" content="IAAS, Insurance Advanced Advisory Services, Cabinet, assurance, Courtage, accompagnement, cabinet assurance Courtage senegal, Financial Advisory Services, Audit Services, Assistance Technique Et Comptable , Tax And Legal Advisory Services ,Digital Advisory Services, Human Capital Advisory Services, iaas senegal" />
<meta name="author" content="pape ibrahima diawara" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Title -->
<title>IAAS - Insurance Advanced Advisory Services</title>

<!-- favicon icon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- inject css start -->

<!-- inject css start -->

<!--== theme plugin -->
<link href="{% static 'website/css/theme-plugin.css' %}" rel="stylesheet" type="text/css" />

<!--== style -->
<link href="{% static 'website/css/style.css' %}" rel="stylesheet" type="text/css" />

<!--== responsive -->
<link href="{% static 'website/css/responsive.css' %}" rel="stylesheet" type="text/css" />

<!--== color-customizer -->
<link href="#" data-style="styles" rel="stylesheet">
<link href="{% static 'website/css/color-customize/color-customizer.css' %}" rel="stylesheet" type="text/css" />

<!-- inject css end -->

<!-- inject css end -->

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">

<!-- preloader start -->

<div id="ht-preloader">
  <div class="clear-loader">
      <div class="loader"></div>
  </div>
</div>

<!-- preloader end -->

<!--body content start-->

<div class="page-content">

<!--coming soon start-->

<section class="fullscreen-banner p-0">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 text-center h-100 d-flex align-items-center">
          <div class="w-100"><img class="img-fluid d-inline mb-5" src="{% static 'website/images/404.png' %} " alt="">
          <h2>Oops! Page non trouvée</h2>
         <div class="col-lg-6 col-md-10 ml-auto mr-auto">
          <h6 class="line-h-3">Vous avez soit mal orthographié l'URL
ou demander une page qui n'est plus ici.</h6>
          <a class="btn" href="{% url 'home' %}">Retour à la page d'accueil</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--coming soon end-->

</div>

<!--body content end--> 

</div>

<!-- page wrapper end -->



<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>

<!--back-to-top end-->

 
  <!-- inject js start -->
  
  <!--== jquery -->
  <script src="{% static 'website/js/theme.js' %}"></script>
  
  <!--== theme-plugin -->
  <script src="{% static 'website/js/theme-plugin.js' %}"></script>
  
  <!--== color-customize -->
  <script src="{% static 'website/js/color-customize/color-customizer.js' %}"></script> 
  
  <!--== theme-script -->
  <script src="{% static 'website/js/theme-script.js' %}"></script>
  
  <!-- inject js end -->

</body>
</html>
